/* Variable definition */
:root {
    --p-color-bg-primary: rgb(0, 0, 0) !important;
    --p-color-bg-primary-hover: rgba(0, 0, 0, 0.5) !important;
    --p-color-bg-primary-active: rgba(4, 30, 49, 0.5) !important;
    --a-color-bg-new-message: rgb(11, 46, 116);
    --a-color-bg-positive-message: rgba(4, 156, 216, 0.3);
    --a-color-bg-positive-message-hover: rgba(4, 156, 216, 0.7);
    --a-color-bg-negative-message: rgb(212, 94, 189, 0.3);
    --a-color-bg-negative-message-hover: rgb(212, 94, 189, 0.7);
    --a-color-bg-neutral-message: rgb(241, 242, 244, 0.3);
    --a-color-bg-neutral-message-hover: rgb(241, 242, 244, 1);
    --a-color-bg-live-message: rgba(33, 165, 53, 0.3);
    --a-color-bg-live-message-hover: rgba(33, 165, 53, 0.7);
    --a-color-bg-check-mark: rgb(3, 32, 63);
    --a-color-bg-x-mark: rgb(105, 27, 27);
}

/* Robot styling */
.robot-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.robot {
    max-width: 75%;
    max-height: 50vh;
    aspect-ratio: calc(1230 / 693);
    height: auto;
}

/* Add transition to Polaris button hover animations */
.Polaris-Button:hover {
    transition: 0.4s !important;
}

/*
* ========================================================
* Chat History
* ========================================================
*/


/* Messages and message containers */

.new-messages-btn {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    background-color:rgb(5, 79, 157);
    color: #fff;
}

.chat-messages {
    max-height: 70vh;
    overflow-y: scroll;
}

.message-container {
    display: flex;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.human-message-container {
    justify-content: flex-start;
    margin-left: 10px;
    margin-right: 0px;
}

.ai-message-container {
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 10px;
    padding-right: 10px;
}

.admin-message-container {
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 10px;
    padding-right: 10px;
}

.admin-message {
    background-color: #00bfff;
    color: #000;
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    max-width: 70%;
}

.human-message {
    background-color: #e5e5e5;
    color: #000;
    border-radius: 10px 10px 10px 0px;
    padding: 10px;
    max-width: 70%;
}

.ai-message {
    background-color: #008cff;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    max-width: 70%;
}

/* Admin Message Input for Live Chats */
.chatbubble-input {
    padding: 0px 0px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
    width: 90%;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.chatbubble-input-field {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    overflow: hidden;
    transition: height 0.2s;
    transition: .3s ease;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.chatbubble-input-field::-webkit-scrollbar {
    display: none;
}

.chatbubble-input-field:hover,
.chatbubble-input-field:active,
.chatbubble-input-field:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.chatbubble-send {
    background-color: transparent;
    border: none;
    padding: 5px 2px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    transition: 0.3s ease;
    /* bottom: calc(0% + -2px); */
}

.chatbubble-send:focus,
.chatbubble-send:active {
    transform: scale(1.25);
}



input {
    max-width: 80%;
    padding: 5px;
    overflow-y: auto;
    transition: .7s ease-in-out;
}

textarea {
    align-self: center;
    position: relative;
    resize: none !important;
    padding: 0 20px 0 0 !important;
    border: none;
    background-color: transparent;
    font-family: inherit;
    line-height: inherit;
    outline: none;
    width: 75%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-height: 150px;
    transform-origin: 0 0;
    transition: .7s ease-in-out;
}

.input-round-box {
    width: 100%;
    color: black;
    margin: 1em 0;
    position: relative;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 54px;
    HEIGHT: auto;
    max-height: 200px;
    overflow-y: auto;
    align-self: center;
    z-index: 25;
    bottom: 15px;
    background: white;
    animation: resizeInputBox 0.3s ease;
    transition: .7s ease-in-out;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding: 0.1em;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.input-round-box::-webkit-scrollbar {
    display: none;
}

@keyframes resizeInputBox {
    0% {
        height: 0;
    }

    100% {
        height: auto;
    }
}

.chatbubble-input-field:focus+#input-round-box {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
}

.input-round-box,
.chatbubble-input-field {
    box-sizing: content-box;
    transition: .7s ease-in-out;
}
/*
* =============================================================================
* Navigation
* =============================================================================
*/
.nav-timestamp {
    position: absolute;
    right: 10px;
    margin: 0.3rem 0 0 0;
    bottom: 0.7rem;
    font-size: .7rem;
    opacity: .7;
}

.timestamp {
    display: inline-block;
    font-size: 12px;
    color: #999999;
    margin-left: 5px;
}

.timestamp-left {
    float: left;
    margin-right: 5px;
}

.timestamp-right {
    float: right;
    margin-left: 5px;
}

.new-live-chat {
    max-height: 0;
}

.chat {
    transition: 0.3s;
    padding: 0.7em 1em 1.4em;
    border-radius: 0 7px 7px 0;
}

.happy-chat {
    background-color: var(--a-color-bg-positive-message);
}

.happy-chat:hover {
    background-color: var(--a-color-bg-positive-message-hover);
}

.unhappy-chat {
    background-color: var(--a-color-bg-negative-message);
}

.unhappy-chat:hover {
    background-color: var(--a-color-bg-negative-message-hover);
}

.neutral-chat {
    background-color: var(--a-color-bg-neutral-message);
}

.neutral-chat:hover {
    background-color: var(--a-color-bg-neutral-message-hover);
}

.live-chat {
    background-color: var(--a-color-bg-live-message);
}

.live-chat:hover {
    background-color: var(--a-color-bg-live-message-hover);
}

.live-chat-info {
    font-size: 0.7em;
    opacity: 0.7;
}

.live-chat-meta {
    padding: 0rem 0.3rem 0 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.badge {
    width: auto;
    display: inline-flex;
    padding: 0rem 0.3rem;
    align-items: center;
    border-radius: .75rem;
    font-style: normal;
}

.live-badge {
    margin: 0 0.1rem 0 0;
    background-color: rgba(39, 143, 56, 0.3);
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-flex;
}

.live-dot {
    background-color: rgb(39, 143, 56);
    margin: 0 0.25rem 0 0;
}

.happy-dot {
    background-color: #278f38;
}


.neutral-dot {
    background-color: #c4bd35;
}

.unhappy-dot {
    background-color: #984e30;
}


.null-dot {
    background-color: #03203F;
}

.loading {
    background-color: var(--p-color-bg-strong);
}

.nav-date {
    border-radius: var(--p-border-radius-1);
    width: 30%;
}

.nav-text {
    border-radius: var(--p-border-radius-1);
    width: 80%;
}

/* Billing Page: containers for plan svgs */
.img-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.plan-img {
    max-width: 10rem;
    height: auto;
    aspect-ratio: 1;
}

/* Billing Page: Plan text decorations and styling */
.plan-name {
    text-align: center;
}

.plan-name p {
    font-weight: bold;
    font-size: 1.1em;
}

.plan-feature {
    display: flex;
    align-items: center;

    /* white-space: nowrap; */
    /* overflow: auto; */
}

.plan-feature p {
    flex: 1;
    font-size: 1em;
    line-height: 1;
    min-width: 0;
}

.not-included {
    text-decoration: line-through;
}

.included .plan-feature::before {
    content: icon;
}

/* Billing Page: Check mark for included plan features, x for not */
#checkmark {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background: var(--a-color-bg-check-mark);
    border-radius: 50%;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-right: 0.50rem;
}

#checkmark:before {
    content: "";
    position: absolute;
    width: 0.15rem;
    height: 0.45rem;
    background-color: #fff;
    left: 0.50rem;
    top: 0.30rem;
}

#checkmark:after {
    content: "";
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    background-color: #fff;
    left: 0.40rem;
    top: 0.60rem;
}

#xmark {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    /* background: var(--a-color-bg-x-mark); */
    background: #fff;
    border-radius: 50%;
    /* IE 9 */
    /* -ms-transform: rotate(45deg); */
    /* Chrome, Safari, Opera */
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
    margin-right: 0.50rem;
}

#xmark:before {
    content: "";
    position: absolute;
    width: 0.15rem;
    height: 0.45rem;
    /* background-color:#fff; */
    background-color: var(--a-color-bg-check-mark);
    left: 0.475rem;
    top: 0.325rem;
}

#xmark:after {
    content: "";
    position: absolute;
    width: 0.45rem;
    height: 0.15rem;
    /* background-color:#fff; */
    background-color: var(--a-color-bg-check-mark);
    left: 0.325rem;
    top: 0.475rem;
}




/* Billing Page: Choose Plan button decoration */
#plan-button {
    border-radius: 10px 10px 10px 0px;
    transition: 0.3s ease-in;
}

#plan-button:hover {
    border-radius: 10px 10px 0px 10px;
}

/* Blocking access to components for the underprivileged */
.blocked-wrapper {
    position: relative;
    display: inline-block;
}

.blocked-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--a-color-bg-neutral-message), var(--a-color-bg-neutral-message-hover));
    z-index: 2;
    /* Make the overlay appear above the wrapped child */
}

.fullpage-overlay {
    position: fixed;
}

.blocked-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 3;
    /* Make the message appear above the wrapped child */
}

.fullpage-message {
    position: fixed;
    width: 80%;
}

.blocked-child {
    opacity: 0.3;
    position: relative;
}