:root {
    --p-color-bg-primary: rgb(3, 32, 63) !important;
    --p-color-bg-primary-hover: rgb(7, 54, 83) !important;
    --p-color-bg-primary-active: rgb(4, 30, 49) !important;
    --a-color-bg-positive-message: rgba(4, 156, 216, 0.3);
    --a-color-bg-positive-message-hover: rgba(4, 156, 216, 0.7);
    --a-color-bg-negative-message: rgb(212, 94, 189, 0.3);
    --a-color-bg-negative-message-hover: rgb(212, 94, 189, 0.7);
    --a-color-bg-neutral-message: rgb(241, 242, 244, 0.3);
    --a-color-bg-neutral-message-hover: rgb(241, 242, 244, 1);
    --a-color-bg-check-mark: rgb(3, 32, 63);
    --a-color-bg-x-mark: rgb(105, 27, 27);
}

/* Robot styling */
.robot-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.robot {
    max-width: 75%;
    max-height: 50vh;
    aspect-ratio: calc(2512.64 / 1653.45);
    height: auto;
}

.Polaris-Button:hover {
    transition: 0.4s !important;
}

.human-message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: "10px";
    margin-right: "0px";
}

.ai-message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-left: "0px";
    margin-right: "10px";
}

.human-message {
    background-color: #e5e5e5;
    color: #000;
    border-radius: 10px 10px 10px 0px;
    padding: 10px;
    max-width: 70%;
}

.ai-message {
    background-color: #008cff;
    color: #fff;
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    max-width: 70%;
}

.timestamp {
    display: inline-block;
    font-size: 12px;
    color: #999999;
    margin-left: 5px;
}

.timestamp-left {
    float: left;
    margin-right: 5px;
}

.timestamp-right {
    float: right;
    margin-left: 5px;
}

.chat {
    transition: 0.3s;
    padding: 0.7em 1em;
    border-radius: 0 7px 7px 0;
}

.happy-chat {
    background-color: var(--a-color-bg-positive-message);
}

.happy-chat:hover {
    background-color: var(--a-color-bg-positive-message-hover);
}

.unhappy-chat {
    background-color: var(--a-color-bg-negative-message);
}

.unhappy-chat:hover {
    background-color: var(--a-color-bg-negative-message-hover);
}

.neutral-chat {
    background-color: var(--a-color-bg-neutral-message);
}

.neutral-chat:hover {
    background-color: var(--a-color-bg-neutral-message-hover);
}



.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-flex;
}

.happy-dot {
    background-color: #278f38;
}


.neutral-dot {
    background-color: #c4bd35;
}

.unhappy-dot {
    background-color: #984e30;
}


.null-dot {
    background-color: #03203F;
}

.loading {
    background-color: var(--p-color-bg-strong);
}

.nav-date {
    border-radius: var(--p-border-radius-1);
    width: 30%;
}

.nav-text {
    border-radius: var(--p-border-radius-1);
    width: 80%;
}

/* Billing Page: containers for plan svgs */
.img-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.plan-img {
    max-width: 10rem;
    height: auto;
    aspect-ratio: 1;
}

/* Billing Page: Plan text decorations and styling */
.plan-name {
    text-align: center;
}

.plan-name p {
    font-weight: bold;
    font-size: 1.1em;
}

.plan-feature {
    display: flex;
    align-items: center;

    /* white-space: nowrap; */
    /* overflow: auto; */
}

.plan-feature p {
    flex: 1;
    font-size: 1em;
    line-height: 1;
    min-width: 0;
}

.not-included {
    text-decoration: line-through;
}

.included .plan-feature::before {
    content: icon;
}

/* Billing Page: Check mark for included plan features, x for not */
#checkmark {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    background: var(--a-color-bg-check-mark);
    border-radius: 50%;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    margin-right: 0.50rem;
}

#checkmark:before {
    content: "";
    position: absolute;
    width: 0.15rem;
    height: 0.45rem;
    background-color: #fff;
    left: 0.50rem;
    top: 0.30rem;
}

#checkmark:after {
    content: "";
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    background-color: #fff;
    left: 0.40rem;
    top: 0.60rem;
}

#xmark {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    /* background: var(--a-color-bg-x-mark); */
    background: #fff;
    border-radius: 50%;
    /* IE 9 */
    /* -ms-transform: rotate(45deg); */
    /* Chrome, Safari, Opera */
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
    margin-right: 0.50rem;
}

#xmark:before {
    content: "";
    position: absolute;
    width: 0.15rem;
    height: 0.45rem;
    /* background-color:#fff; */
    background-color: var(--a-color-bg-check-mark);
    left: 0.475rem;
    top: 0.325rem;
}

#xmark:after {
    content: "";
    position: absolute;
    width: 0.45rem;
    height: 0.15rem;
    /* background-color:#fff; */
    background-color: var(--a-color-bg-check-mark);
    left: 0.325rem;
    top: 0.475rem;
}




/* Billing Page: Choose Plan button decoration */
#plan-button {
    border-radius: 10px 10px 10px 0px;
    transition: 0.3s ease-in;
}

#plan-button:hover {
    border-radius: 10px 10px 0px 10px;
}

/* Blocking access to components for the underprivileged */
.blocked-wrapper {
    position: relative;
    display: inline-block;
}

.blocked-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--a-color-bg-neutral-message), var(--a-color-bg-neutral-message-hover));
    z-index: 2;
    /* Make the overlay appear above the wrapped child */
}

.fullpage-overlay {
    position: fixed;
}

.blocked-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 3;
    /* Make the message appear above the wrapped child */
}

.fullpage-message {
    position: fixed;
    width: 80%;
}

.blocked-child {
    opacity: 0.3;
    position: relative;
}