:root {
    --p-color-bg-primary: #03203F !important;
    --p-color-bg-primary-hover: #073653 !important;
    --p-color-bg-primary-active: #041E31 !important;
}

.human-message-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: "10px";
    margin-right: "0px";
}

.ai-message-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-left: "0px";
    margin-right: "10px";
}

.human-message {
    background-color: #e5e5e5;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    max-width: 70%;
}

.ai-message {
    background-color: #008cff;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    max-width: 70%;
}

.timestamp {
    display: inline-block;
    font-size: 12px;
    color: #999999;
    margin-left: 5px;
}

.timestamp-left {
    float: left;
    margin-right: 5px;
}

.timestamp-right {
    float: right;
    margin-left: 5px;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-flex;
}

.happy-dot {
    background-color: #278f38;
}

.neutral-dot {
    background-color: #c4bd35;
}

.unhappy-dot {
    background-color: #984e30;
}

.null-dot {
    background-color: #03203F;
}

.loading {
    background-color: var(--p-color-bg-strong);
}

.nav-date {
    border-radius: var(--p-border-radius-1);
    width: 30%;
}

.nav-text {
    border-radius: var(--p-border-radius-1);
    width: 80%;
}