:root {
    --primary-heading-color: white;
    --Primary-chatbot-text-color: #080808;
    --Primary-chatbot-text-color-onHover: rgba(8, 8, 8, .7);
    --primary-font: "Roboto", sans-serif;
    --custom-font-size: 1em;
    --chatbubble-button-backgound-color: #183d57;
    --chat-window-header-color: #2c3c4c;
    --chatbubble-window-backround: white;
    --inverse-button-color: white;
    --chatbubble-message-background-color: #f2f2f2b6;
    --chatbubble-gpt-message-background-color: #579dff81;
    --general-initial-prompt-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --general-initial-prompt-box-shadow-onHover: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

pre {
    text-wrap: wrap;
    white-space: break-spaces !important;
    font-family: inherit;
    margin: 0 !important;
}

.custom-loader {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #040404d6;
    box-shadow:
        19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
        19px 0 0 5px, 38px 0 0 5px, 57px 0 0 5px,
        19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 0px;
    transform: translateX(-38px);
    animation: d6 4s infinite linear;
    align-self: center;
    position: absolute;
    scale: 0;
    display: flex;
    opacity: 1;
    transition: .3s ease-in-out;
    right: 25px;
    bottom: 25px;
}

@keyframes d6 {
    12.5% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 5px,
            19px 0 0 5px, 38px 0 0 0px, 57px 0 0 5px,
            19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 0px
    }

    25% {
        box-shadow:
            19px -19px 0 5px, 38px -19px 0 0px, 57px -19px 0 5px,
            19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px,
            19px 19px 0 0px, 38px 19px 0 5px, 57px 19px 0 0px
    }

    50% {
        box-shadow:
            19px -19px 0 5px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0 0 0px, 38px 0 0 0px, 57px 0 0 0px,
            19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 5px
    }

    62.5% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 0px, 57px -19px 0 0px,
            19px 0 0 5px, 38px 0 0 0px, 57px 0 0 0px,
            19px 19px 0 0px, 38px 19px 0 5px, 57px 19px 0 5px
    }

    75% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0 0 0px, 38px 0 0 0px, 57px 0 0 5px,
            19px 19px 0 0px, 38px 19px 0 0px, 57px 19px 0 5px
    }

    87.5% {
        box-shadow:
            19px -19px 0 0px, 38px -19px 0 5px, 57px -19px 0 0px,
            19px 0 0 0px, 38px 0 0 5px, 57px 0 0 0px,
            19px 19px 0 5px, 38px 19px 0 0px, 57px 19px 0 0px
    }
}




/* 
        ecample of how e
        h1 {
            font-size: calc(var(--font-size) * 2);
        }
     */

#chatbubble {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    scroll-behavior: smooth;
}





#chatbubble-button {

    padding: 0.25em;
    cursor: pointer;
    border-style: outset solid;
    font-weight: bold;
    box-shadow: 1 1 4px rgba(0, 0, 0, 0.6);
    opacity: 1;
    transform: translateY(0);
    transform-origin: center;
    transition: 0.3s ease-in-out;
    width: auto;
    height: auto;
    font-size: 2em;
}

#chatbubble-button:hover {
    transform: scale(0.95);
}

#chatbubble-button.deactive {
    opacity: 0;
    transform: translateY(5em) scale(.1);
}

#chatbubble-window {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--chatbubble-window-backround);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    animation: fade-in 1s ease-in-out;
    -webkit-animation: fade-in 1s ease-in-out;
    -moz-animation: fade-in 1s ease-in-out;
    -o-animation: fade-in 1s ease-in-out;
    overflow: hidden;
    scroll-behavior: smooth;
    max-height: 80vh;
    box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.3);
    transform: scale(1) translateY(0);
    transform-origin: right bottom;
    width: calc((1/5)*(100vw));
    min-width: 400px;
    height: calc((3/4)*(100vh));
    min-height: 300px;
}



@media screen and (max-width:468px) {
    #chatbubble-window {
        width: 90vw;
        min-width: 80vw;
        height: 100vh;
        /* deduct 50px for the keyboard, can be adjusted */

    }
}

@media screen and (max-width: 600px) {

    input,
    textarea {
        font-size: 16px;
    }
}

#chatbubble-window.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    overflow: hidden;
}

#chatbubble-window.active.deactive {
    animation: fade-out .4s ease-in-out;
    opacity: 0;
}



@-webkit-keyframes fade-out {
    from {

        bottom: 20px;
    }

    to {

        bottom: 80px;
    }
}

@keyframes fade-out {
    from {

        bottom: 20px;
    }

    to {

        bottom: 80px;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
        bottom: 80px;
    }

    to {
        opacity: 1;
        bottom: 20px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        bottom: 80px;
    }

    to {
        opacity: 1;
        bottom: 20px;
    }
}


#chatbubble-header {
    position: absolute;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
    align-items: center;
    gap: 0.7em;
    border-bottom-right-radius: 695% 1250%;
    height: 6em;
    box-shadow: 0.5px 2px 5px rgba(0, 0, 0, 0.5);
}


.close_button {
    background: transparent;
    border: none;
    transition: 0.3s ease;
    position: absolute;
    right: -11px;
    top: -6px;
    width: 15%;
    height: 48%;
}


.close_button:hover {

    scale: .9;
}

.chat-up-logo {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 0.6em;
    flex-direction: row;
    width: 50px;
    align-self: center;
    position: relative;
    top: 0px;

}

.chat-up-logo img {
    border-radius: 50% !important;
    aspect-ratio: 1;
    height: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

#chatbubble-input {
    padding: 0px 0px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
    width: 90%;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

#chatbubble-input-field {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    overflow: hidden;
    transition: height 0.2s;
    transition: .3s ease;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#chatbubble-input-field::-webkit-scrollbar {
    display: none;
}

#chatbubble-input-field:hover,
#chatbubble-input-field:active,
#chatbubble-input-field:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

#chatbubble-send {
    background-color: transparent;
    border: none;
    padding: 5px 2px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    transition: 0.3s ease;
    bottom: calc(0% + -2px);
}

#chatbubble-send:focus,
#chatbubble-send:active {
    transform: scale(1.25);
}

#chatbubble-messages {
    display: flex !important;
    padding: 110px 10px 7em 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}


#chatbubble-messages::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 84%, white, white);
    pointer-events: none;
    z-index: 22;
}



.chatbubble-message {
    background-color: var(--chatbubble-message-background-color);
    padding: 7px 10px;
    margin-bottom: 8.5px;
    border-radius: 15px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    align-self: flex-end;
    font-style: italic;
    transition: .7s ease-in-out;
    position: relative;

    &::before {
        content: '';
        background-color: var(--chatbubble-message-background-color);
        border-bottom-left-radius: 16px 14px;
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: -9px;
        right: 5px;
        transform: skew(45deg);
    }

    &::after {
        content: '';
        right: -26px;
        border-bottom-left-radius: 10px;
    }
}



.chatbubble-gpt-message {
    background-color: var(--chatbubble-gpt-message-background-color);
    padding: 7px 7px 0px 12px;
    margin-bottom: 8.5px;
    border-radius: 15px;
    max-width: 80%;
    word-wrap: break-word;
    transition: .7s ease-in-out;
    display: inline !important;
    flex-direction: column;



    &::after {
        content: "";
        background-color: var(--chatbubble-gpt-message-background-color);
        border-bottom-right-radius: 16px 14px;
        position: relative;
        display: flex;
        width: 10px;
        bottom: -10px;
        left: -4px;
        height: 10px;
        transform: skew(115deg);
    }
}



input {
    max-width: 80%;
    padding: 5px;
    overflow-y: auto;
    transition: .7s ease-in-out;
}

#message-container {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.6em;
    transition: .7s ease-in-out;
    position: relative;
}


textarea {
    align-self: center;
    position: relative;
    resize: none !important;
    padding: 0 20px 0 0 !important;
    border: none;
    background-color: transparent;
    font-family: inherit;
    line-height: inherit;
    outline: none;
    width: 75%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto !important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-height: 150px;
    transform-origin: 0 0;
    transition: .7s ease-in-out;
}

#input-round-box {
    width: 90%;
    color: black;
    margin: 1em 2.5em;
    position: fixed;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 54px;
    HEIGHT: auto;
    max-height: 200px;
    overflow-y: auto;
    align-self: center;
    z-index: 25;
    bottom: 15px;
    background: white;
    animation: resizeInputBox 0.3s ease;
    transition: .7s ease-in-out;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding: 0.1em;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

#input-round-box::-webkit-scrollbar {
    display: none;
}

@keyframes resizeInputBox {
    0% {
        height: 0;
    }

    100% {
        height: auto;
    }
}

#chatbubble-input-field:focus+#input-round-box {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .3);
}

#input-round-box,
#chatbubble-input-field {
    box-sizing: content-box;
    transition: .7s ease-in-out;
}


/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1.5);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dot-elastic {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes dot-elastic-after {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

#initial_prompts {
    display: none;
    overflow: hidden;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 5% 5%;
    margin-inline: 0.25em;
    height: 100%;
    transition: .5s ease-in-out;
    overflow-y: auto;
    flex-direction: column;
    position: relative;
    top: 15%;
}

#initial_prompts::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 84%, white, white);
    pointer-events: none;
    z-index: 22;
    right: 0;
    border-radius: 7px;
}

.initial-message-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    height: 3em;
    width: fit-content;
    padding: 1em 1.2em;
    box-shadow: var(--general-initial-prompt-box-shadow);
    cursor: pointer;
}

.initial-message-boxes:hover {
    box-shadow: var(--general-initial-prompt-box-shadow-onHover);
    color: var(--Primary-chatbot-text-color-onHover);
    transform: translateX(-2px);
    scale: 1.01;
}

/**

/* function showWaitingDots() {
  const waitingDots = document.getElementById('waiting-dots');
  if (isSocketResponsePending = false) {
    waitingDots.style.opacity = '1';
  } else {
    waitingDots.style.opacity = '1';
  }

} */

.chatbubble-message-time {
    font-size: 8px;
    display: flex;
    color: #888;
    position: absolute;
    left: -30px;
    height: 0px;
    bottom: 15px;

}



.chatbubble-gpt-message-time {
    font-size: 8px;
    color: #888;
    margin-top: 3px;
    order: 2;
    position: relative;
    left: 107%;
    height: 0px;
    bottom: 9px;
}

.ai-disclaimer {
    text-align: center;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    font-size: x-small;
    white-space: nowrap;
    opacity: 0.7;
    z-index: 99;
}